In [ ]:
import os
import pandas as pd
import numpy as np
from time import time
from datetime import datetime, timedelta
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.layers import Input, Embedding, concatenate, Flatten, Dense, Dropout
from keras.layers import InputLayer, Activation, Concatenate,Input
from keras.models import Model
from tensorflow.keras.utils import plot_model
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping, ModelCheckpoint
import keras
import tensorflow as tf

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Reading all the files

In [ ]:
data_columns = ['user_id', 'movie_id', 'rating', 'timestamp']
item_columns = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action',
             'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film_Noir',
             'Horror', 'Musical', 'Mystery', 'Romance ', 'Sci_Fi', 'Thriller', 'War', 'Western']
user_columns = ['user_id', 'age', 'gender', 'occupation', 'zip_code']

In [ ]:
users = pd.read_csv('/content/drive/Shareddrives/Deep Learning Lab/ml-100k/u.user', sep='|', names=user_columns, encoding='latin-1')
item = pd.read_csv('/content/drive/Shareddrives/Deep Learning Lab/ml-100k/u.item', sep='|', names=item_columns, encoding='latin-1')
data = pd.read_csv('/content/drive/Shareddrives/Deep Learning Lab/ml-100k/u.data', sep='\t', names=data_columns, encoding='latin-1')

Combining the files

In [ ]:
combined_data= pd.merge(pd.merge(item, data), users)

In [ ]:
combined_data.head()

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Childrens,...,Thriller,War,Western,user_id,rating,timestamp,age,gender,occupation,zip_code
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,308,4,887736532,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,308,5,887737890,60,M,retired,95076
2,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,1,0,0,308,4,887739608,60,M,retired,95076
3,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,308,4,887738847,60,M,retired,95076
4,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,308,5,887736696,60,M,retired,95076

Defining the features for the wide model

In [ ]:
wide_features = combined_data[['gender', 'occupation']]

In [ ]:
wide_features['gender_occupation'] = wide_features['gender'] + "_" + wide_features['occupation']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Encoding the features for the wide model

In [ ]:
encoder = OneHotEncoder(handle_unknown='ignore')
encoder.fit(wide_features[['gender_occupation']])
one_hot_encoded_df = pd.DataFrame(encoder.transform(wide_features[['gender_occupation']]).toarray(),
                                  columns=encoder.get_feature_names())
wide_features = wide_features.join(one_hot_encoded_df)
wide_features.drop(['gender', 'occupation', 'gender_occupation'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
wide_features.head()

,x0_F_administrator,x0_F_artist,x0_F_educator,x0_F_engineer,x0_F_entertainment,x0_F_executive,x0_F_healthcare,x0_F_homemaker,x0_F_lawyer,x0_F_librarian,...,x0_M_marketing,x0_M_none,x0_M_other,x0_M_programmer,x0_M_retired,x0_M_salesman,x0_M_scientist,x0_M_student,x0_M_technician,x0_M_writer
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

Defining the features for the deep model

In [ ]:
deep_features = combined_data[['age', 'unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary',
              'Drama', 'Fantasy', 'Film_Noir', 'Horror', 'Musical', 'Mystery', 'Romance ', 'Sci_Fi', 'Thriller', 'War',
              'Western', 'gender', 'occupation']]

In [ ]:
deep_features['genre'] = deep_features[['unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary',
                            'Drama', 'Fantasy', 'Film_Noir', 'Horror', 'Musical', 'Mystery', 'Romance ', 'Sci_Fi',
                            'Thriller', 'War', 'Western']].idxmax(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
deep_features.drop(columns=['unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary',
                      'Drama', 'Fantasy', 'Film_Noir', 'Horror', 'Musical', 'Mystery', 'Romance ', 'Sci_Fi', 'Thriller',
                      'War', 'Western'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
deep_features.head()

   age gender occupation      genre
0   60      M    retired  Animation
1   60      M    retired     Action
2   60      M    retired      Crime
3   60      M    retired      Drama
4   60      M    retired  Childrens

Encoding the deep model features

In [ ]:
for feature in ['gender', 'occupation', 'genre']:
    encoder = LabelEncoder()
    encoder.fit(deep_features[[feature]])
    transformed_feature = encoder.transform(deep_features[[feature]])
    deep_features[feature] = transformed_feature

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for feature in ['age']:
    scaler = MinMaxScaler()
    scaler.fit(deep_features[[feature]])
    transformed_feature = scaler.transform(deep_features[[feature]])
    deep_features[feature] = transformed_feature

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
deep_features.head()

       age  gender  occupation  genre
0  0.80303       1          15      2
1  0.80303       1          15      0
2  0.80303       1          15      5
3  0.80303       1          15      7
4  0.80303       1          15      3

Splitting the dataset into train and test subsets

In [ ]:
X = pd.concat([wide_features, deep_features], axis=1)
y = combined_data[['rating']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
def prepare_independent_variables(X):
  wide_inputs = X[['x0_F_administrator', 'x0_F_artist', 'x0_F_educator', 'x0_F_engineer',
                     'x0_F_entertainment', 'x0_F_executive', 'x0_F_healthcare',
                     'x0_F_homemaker', 'x0_F_lawyer', 'x0_F_librarian', 'x0_F_marketing',
                     'x0_F_none', 'x0_F_other', 'x0_F_programmer', 'x0_F_retired',
                     'x0_F_salesman', 'x0_F_scientist', 'x0_F_student', 'x0_F_technician',
                     'x0_F_writer', 'x0_M_administrator', 'x0_M_artist', 'x0_M_doctor',
                     'x0_M_educator', 'x0_M_engineer', 'x0_M_entertainment',
                     'x0_M_executive', 'x0_M_healthcare', 'x0_M_homemaker', 'x0_M_lawyer',
                     'x0_M_librarian', 'x0_M_marketing', 'x0_M_none', 'x0_M_other',
                     'x0_M_programmer', 'x0_M_retired', 'x0_M_salesman', 'x0_M_scientist',
                     'x0_M_student', 'x0_M_technician', 'x0_M_writer']].values
  categorical_input_1 = X[['gender']].values
  categorical_input_2 = X[['occupation']].values
  categorical_input_3 = X[['genre']].values
  numerical_input = X[['age']].values
  return wide_inputs, categorical_input_1, categorical_input_2, categorical_input_3, \
           numerical_input

In [ ]:
wide_inputs_train, categorical_input_1_train, categorical_input_2_train, \
categorical_input_3_train, numerical_input_train = prepare_independent_variables(X_train)

wide_inputs_test, categorical_input_1_test, categorical_input_2_test, \
categorical_input_3_test, numerical_input_test = prepare_independent_variables(X_test)

y_train = y_train.values
y_test = y_test.values

Creating the Model

In [ ]:
max_num_categorical_values = 50
emb_dimension = 1200
max_sequence_length = 1

In [ ]:
categorical_input_1 = Input(shape=(1,), name='categorical_input_1')
emb_1 = Embedding(input_dim=max_num_categorical_values, output_dim=emb_dimension,
                  input_length=max_sequence_length, name='emb_1')(categorical_input_1)
emb_1 = Flatten()(emb_1)
categorical_input_2 = Input(shape=(1,), name='categorical_input_2')
emb_2 = Embedding(input_dim=max_num_categorical_values, output_dim=emb_dimension,
                  input_length=max_sequence_length, name='emb_2')(categorical_input_2)
emb_2 = Flatten()(emb_2)
categorical_input_3 = Input(shape=(1,), name='categorical_input_3')
emb_3 = Embedding(input_dim=max_num_categorical_values, output_dim=emb_dimension,
                  input_length=max_sequence_length, name='emb_3')(categorical_input_3)
emb_3 = Flatten()(emb_3)
numerical_input = Input(shape=(1,), name='numerical_input')
concatenated_embeddings = concatenate([emb_1, emb_2, emb_3, numerical_input])
concatenated_embeddings = Dropout(rate=0.2)(concatenated_embeddings)

In [ ]:
x1 = Dense(1200, activation='relu')(concatenated_embeddings)
x1 = Dropout(rate=0.25)(x1)
x1 = Dense(1024, activation='relu',kernel_regularizer =tf.keras.regularizers.l2( l=0.01))(concatenated_embeddings)
x1 = Dropout(rate=0.25)(x1)
x2 = Dense(512, activation='relu',kernel_regularizer =tf.keras.regularizers.l2( l=0.01))(x1)
x2 = Dropout(rate=0.25)(x2)
x3 = Dense(256, activation='relu',kernel_regularizer =tf.keras.regularizers.l2( l=0.01))(x2)
x3 = Dropout(rate=0.25)(x3)
deep_output = Dense(64, activation='relu')(x3)

In [ ]:
num_features = len(wide_features.columns)
wide_inputs = Input(shape=(num_features,), name='wide_inputs')

In [ ]:
x = concatenate([wide_inputs, deep_output])
x = Dropout(rate=0.2)(x)

In [ ]:
wide_and_deep_output = Dense(1, activation='relu')(x)

In [ ]:
wide_and_deep_model = Model(inputs=[wide_inputs] + [categorical_input_1] + 
                            [categorical_input_2] + [categorical_input_3] + 
                            [numerical_input], outputs=wide_and_deep_output)

In [ ]:
wide_and_deep_model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 categorical_input_1 (InputLaye  [(None, 1)]         0           []
 r)

 categorical_input_2 (InputLaye  [(None, 1)]         0           []
 r)

 categorical_input_3 (InputLaye  [(None, 1)]         0           []
 r)

 emb_1 (Embedding)              (None, 1, 1200)      60000       ['categorical_input_1[0][0]']

 emb_2 (Embedding)              (None, 1, 1200)      60000       ['categorical_input_2[0][0]']

 emb_3 (Embedding)              (None, 1, 1200)      60000       ['categorical_input_3[0][0]']

 flatten (Flatten)              (None, 1200)         0           ['emb_1[0][0]']

 flatten_1 (Flatten)            (None, 1200)         0           ['emb_2[0][0]']

 flatten_2 (Flatten)            (None, 1200)         0           ['emb_3[0][0]']

 numerical_input (InputLayer)   [(None, 1)]          0           []

 concatenate (Concatenate)      (None, 3601)         0           ['flatten[0][0]',
                                                                  'flatten_1[0][0]',
                                                                  'flatten_2[0][0]',
                                                                  'numerical_input[0][0]']

 dropout (Dropout)              (None, 3601)         0           ['concatenate[0][0]']

 dense_15 (Dense)               (None, 1024)         3688448     ['dropout[0][0]']

 dropout_13 (Dropout)           (None, 1024)         0           ['dense_15[0][0]']

 dense_16 (Dense)               (None, 512)          524800      ['dropout_13[0][0]']

 dropout_14 (Dropout)           (None, 512)          0           ['dense_16[0][0]']

 dense_17 (Dense)               (None, 256)          131328      ['dropout_14[0][0]']

 dropout_15 (Dropout)           (None, 256)          0           ['dense_17[0][0]']

 wide_inputs (InputLayer)       [(None, 41)]         0           []

 dense_18 (Dense)               (None, 64)           16448       ['dropout_15[0][0]']

 concatenate_3 (Concatenate)    (None, 105)          0           ['wide_inputs[0][0]',
                                                                  'dense_18[0][0]']

 dropout_16 (Dropout)           (None, 105)          0           ['concatenate_3[0][0]']

 dense_19 (Dense)               (None, 1)            106         ['dropout_16[0][0]']

==================================================================================================
Total params: 4,541,130
Trainable params: 4,541,130
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
wide_and_deep_model.compile(loss='mae', optimizer=tf.keras.optimizers.Adamax(learning_rate=0.0001, decay=1e-06), metrics=['mae','accuracy'])

In [ ]:
wide_and_deep_model.fit(x={'wide_inputs': wide_inputs_train,
                           'categorical_input_1': categorical_input_1_train,
                           'categorical_input_2': categorical_input_2_train,
                           'categorical_input_3': categorical_input_3_train,
                           'numerical_input': numerical_input_train},
                        y=y_train,
                        batch_size=32, epochs=50, verbose=1,validation_split=0.2)

Epoch 1/50
2000/2000 [==============================] - 14s 7ms/step - loss: 0.9530 - mae: 0.9444 - accuracy: 0.0608 - val_loss: 0.9349 - val_mae: 0.9276 - val_accuracy: 0.0619
Epoch 2/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9523 - mae: 0.9450 - accuracy: 0.0608 - val_loss: 0.9197 - val_mae: 0.9130 - val_accuracy: 0.0619
Epoch 3/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9473 - mae: 0.9409 - accuracy: 0.0608 - val_loss: 0.9105 - val_mae: 0.9044 - val_accuracy: 0.0619
Epoch 4/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9449 - mae: 0.9390 - accuracy: 0.0608 - val_loss: 0.9208 - val_mae: 0.9155 - val_accuracy: 0.0619
Epoch 5/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9469 - mae: 0.9414 - accuracy: 0.0608 - val_loss: 0.9072 - val_mae: 0.9015 - val_accuracy: 0.0619
Epoch 6/50
2000/2000 [==============================] - 14s 7ms/step - loss: 0.9429 - mae: 0.9376 - accuracy: 0.0608 - val_loss: 0.9093 - val_mae: 0.9035 - val_accuracy: 0.0619
Epoch 7/50
2000/2000 [==============================] - 15s 7ms/step - loss: 0.9445 - mae: 0.9394 - accuracy: 0.0608 - val_loss: 0.9127 - val_mae: 0.9075 - val_accuracy: 0.0619
Epoch 8/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9421 - mae: 0.9372 - accuracy: 0.0608 - val_loss: 0.9094 - val_mae: 0.9049 - val_accuracy: 0.0619
Epoch 9/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9429 - mae: 0.9383 - accuracy: 0.0608 - val_loss: 0.9156 - val_mae: 0.9102 - val_accuracy: 0.0619
Epoch 10/50
2000/2000 [==============================] - 14s 7ms/step - loss: 0.9418 - mae: 0.9371 - accuracy: 0.0608 - val_loss: 0.9045 - val_mae: 0.9003 - val_accuracy: 0.0619
Epoch 11/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9403 - mae: 0.9357 - accuracy: 0.0608 - val_loss: 0.9006 - val_mae: 0.8954 - val_accuracy: 0.0619
Epoch 12/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9399 - mae: 0.9354 - accuracy: 0.0608 - val_loss: 0.9043 - val_mae: 0.8993 - val_accuracy: 0.0619
Epoch 13/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9423 - mae: 0.9379 - accuracy: 0.0608 - val_loss: 0.9201 - val_mae: 0.9148 - val_accuracy: 0.0619
Epoch 14/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9376 - mae: 0.9332 - accuracy: 0.0608 - val_loss: 0.9042 - val_mae: 0.8994 - val_accuracy: 0.0619
Epoch 15/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9371 - mae: 0.9327 - accuracy: 0.0608 - val_loss: 0.9227 - val_mae: 0.9182 - val_accuracy: 0.0619
Epoch 16/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9377 - mae: 0.9332 - accuracy: 0.0608 - val_loss: 0.9236 - val_mae: 0.9197 - val_accuracy: 0.0619
Epoch 17/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9374 - mae: 0.9332 - accuracy: 0.0608 - val_loss: 0.9067 - val_mae: 0.9029 - val_accuracy: 0.0619
Epoch 18/50
2000/2000 [==============================] - 14s 7ms/step - loss: 0.9364 - mae: 0.9322 - accuracy: 0.0608 - val_loss: 0.9011 - val_mae: 0.8966 - val_accuracy: 0.0619
Epoch 19/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9368 - mae: 0.9325 - accuracy: 0.0608 - val_loss: 0.9110 - val_mae: 0.9072 - val_accuracy: 0.0619
Epoch 20/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9361 - mae: 0.9319 - accuracy: 0.0608 - val_loss: 0.9080 - val_mae: 0.9041 - val_accuracy: 0.0619
Epoch 21/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9356 - mae: 0.9315 - accuracy: 0.0608 - val_loss: 0.9066 - val_mae: 0.9027 - val_accuracy: 0.0619
Epoch 22/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9371 - mae: 0.9331 - accuracy: 0.0608 - val_loss: 0.9129 - val_mae: 0.9089 - val_accuracy: 0.0619
Epoch 23/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9374 - mae: 0.9334 - accuracy: 0.0608 - val_loss: 0.9100 - val_mae: 0.9060 - val_accuracy: 0.0619
Epoch 24/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9362 - mae: 0.9322 - accuracy: 0.0608 - val_loss: 0.9093 - val_mae: 0.9056 - val_accuracy: 0.0619
Epoch 25/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9347 - mae: 0.9309 - accuracy: 0.0608 - val_loss: 0.9158 - val_mae: 0.9121 - val_accuracy: 0.0619
Epoch 26/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9350 - mae: 0.9310 - accuracy: 0.0608 - val_loss: 0.9029 - val_mae: 0.8991 - val_accuracy: 0.0619
Epoch 27/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9361 - mae: 0.9322 - accuracy: 0.0608 - val_loss: 0.9025 - val_mae: 0.8987 - val_accuracy: 0.0619
Epoch 28/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9322 - mae: 0.9285 - accuracy: 0.0608 - val_loss: 0.9029 - val_mae: 0.8990 - val_accuracy: 0.0619
Epoch 29/50
2000/2000 [==============================] - 14s 7ms/step - loss: 0.9317 - mae: 0.9280 - accuracy: 0.0608 - val_loss: 0.8962 - val_mae: 0.8926 - val_accuracy: 0.0619
Epoch 30/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9331 - mae: 0.9293 - accuracy: 0.0608 - val_loss: 0.8958 - val_mae: 0.8917 - val_accuracy: 0.0619
Epoch 31/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9345 - mae: 0.9309 - accuracy: 0.0608 - val_loss: 0.9135 - val_mae: 0.9093 - val_accuracy: 0.0619
Epoch 32/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9336 - mae: 0.9298 - accuracy: 0.0608 - val_loss: 0.9069 - val_mae: 0.9034 - val_accuracy: 0.0619
Epoch 33/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9307 - mae: 0.9270 - accuracy: 0.0608 - val_loss: 0.9006 - val_mae: 0.8970 - val_accuracy: 0.0619
Epoch 34/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9318 - mae: 0.9282 - accuracy: 0.0608 - val_loss: 0.9046 - val_mae: 0.9009 - val_accuracy: 0.0619
Epoch 35/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9321 - mae: 0.9284 - accuracy: 0.0608 - val_loss: 0.8970 - val_mae: 0.8933 - val_accuracy: 0.0619
Epoch 36/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9332 - mae: 0.9295 - accuracy: 0.0608 - val_loss: 0.9131 - val_mae: 0.9098 - val_accuracy: 0.0619
Epoch 37/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9313 - mae: 0.9277 - accuracy: 0.0608 - val_loss: 0.8998 - val_mae: 0.8958 - val_accuracy: 0.0619
Epoch 38/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9318 - mae: 0.9281 - accuracy: 0.0608 - val_loss: 0.9095 - val_mae: 0.9062 - val_accuracy: 0.0619
Epoch 39/50
2000/2000 [==============================] - 15s 7ms/step - loss: 0.9335 - mae: 0.9300 - accuracy: 0.0608 - val_loss: 0.9125 - val_mae: 0.9092 - val_accuracy: 0.0619
Epoch 40/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9319 - mae: 0.9284 - accuracy: 0.0608 - val_loss: 0.9047 - val_mae: 0.9008 - val_accuracy: 0.0619
Epoch 41/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9294 - mae: 0.9258 - accuracy: 0.0608 - val_loss: 0.9055 - val_mae: 0.9027 - val_accuracy: 0.0619
Epoch 42/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9285 - mae: 0.9252 - accuracy: 0.0608 - val_loss: 0.9108 - val_mae: 0.9071 - val_accuracy: 0.0619
Epoch 43/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9307 - mae: 0.9272 - accuracy: 0.0608 - val_loss: 0.9061 - val_mae: 0.9026 - val_accuracy: 0.0619
Epoch 44/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9287 - mae: 0.9253 - accuracy: 0.0608 - val_loss: 0.8991 - val_mae: 0.8960 - val_accuracy: 0.0619
Epoch 45/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9295 - mae: 0.9261 - accuracy: 0.0608 - val_loss: 0.9044 - val_mae: 0.9011 - val_accuracy: 0.0619
Epoch 46/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9290 - mae: 0.9257 - accuracy: 0.0608 - val_loss: 0.9052 - val_mae: 0.9018 - val_accuracy: 0.0619
Epoch 47/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9307 - mae: 0.9274 - accuracy: 0.0608 - val_loss: 0.9054 - val_mae: 0.9021 - val_accuracy: 0.0619
Epoch 48/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9292 - mae: 0.9259 - accuracy: 0.0608 - val_loss: 0.9028 - val_mae: 0.8998 - val_accuracy: 0.0619
Epoch 49/50
2000/2000 [==============================] - 13s 7ms/step - loss: 0.9285 - mae: 0.9251 - accuracy: 0.0608 - val_loss: 0.9075 - val_mae: 0.9045 - val_accuracy: 0.0619
Epoch 50/50
2000/2000 [==============================] - 14s 7ms/step - loss: 0.9281 - mae: 0.9249 - accuracy: 0.0608 - val_loss: 0.9022 - val_mae: 0.8987 - val_accuracy: 0.0619

In [ ]:
loss=wide_and_deep_model.evaluate(x={'wide_inputs': wide_inputs_test,
                                'categorical_input_1': categorical_input_1_test,
                                'categorical_input_2': categorical_input_2_test,
                                'categorical_input_3': categorical_input_3_test,
                                'numerical_input': numerical_input_test},
                             y=y_test,
                             batch_size=32, verbose=1)

625/625 [==============================] - 2s 3ms/step - loss: 0.9008 - mae: 0.8972 - accuracy: 0.0615

In [ ]:
predictions = wide_and_deep_model.predict(x={'wide_inputs': wide_inputs_test,
                                             'categorical_input_1': categorical_input_1_test,
                                             'categorical_input_2': categorical_input_2_test,
                                             'categorical_input_3': categorical_input_3_test,
                                             'numerical_input': numerical_input_test},
                                          batch_size=32, verbose=1)

625/625 [==============================] - 1s 2ms/step

In [ ]:
np.round(predictions)
predictions=predictions.astype(int)

In [ ]:
count=0
for i in range (0,len(predictions)):
  if predictions[i]==y_test[i]:
    count+=1

In [ ]:
print("Prediction Accuracy=",(count/len(y_test))*100)

Prediction Accuracy= 26.884999999999998